<% include _header %>
  <!-- Main Header -->
  <% include _main_header %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include _main_sidebar1 %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="main_container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 id="m_title">
        首页
        <small></small>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content" id="m_content">
        <% include _index %>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <% include _control_sidebar %>
  <!-- /.control-sidebar -->
      
  <!-- right Sidebar -->
  <aside class="right-sidebar" id="right_sidebar">
    <!-- Create the tabs -->
        <div class="layer"></div>
        <section class="content">

        </section>
  </aside>
  <!-- /.right-sidebar -->   
  <!-- right Sidebar -->
  <aside class="right-sidebar" id="lock_sidebar">
    <!-- Create the tabs -->
        <div class="layer"></div>
        <section class="content">

        </section>
  </aside>
  <!-- /.right-sidebar --> 
  <!-- Main Footer -->
  <% include _footer %>
