body{
    font-family: "Microsoft YaHei",'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* 顶部搜索框 */
.search-input {
	display: inline-block;
    width: 300px;
    float: left;
    line-height: 20px;
    padding: 8px;
}
.on-focus {
    position:absolute;
}
.search-input a{
	text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 500px)  and (min-width: 381px){
    .search-input {
        width: 65%;
    }
}
@media only screen and (max-width: 380px){
    .search-input {
        width: 180px;
    }
}


/* 页面底部 */
.footer {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.collect {
    margin-left: 5px;
    font-size: 15px;
}
.navbar {
    margin-bottom: 0;
}

/* 编辑评论 */
.post-form .content {
    width: 100%;
}
/* 用户详情 */
.user-view {
    position: relative;
    overflow: hidden;
}
.user-view .banner {
    position: absolute;
    left: 0;
    top: 0;    
    z-index: -1;
}
.user-view .profile {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.16);
}
.user-view .profile .evator {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.user-view .profile .name{
    margin: 5px;
    font-size: 24px;
}

/* 分享列表 */
.post-item {
	padding: 10px;
}
.post-item .author {
	margin-top: 10px;
    font-size: 18px;
}
.post-item .author img{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;    
    border-radius: 20px;
}
.post-item .author small{    
	display: block;
    margin: 5px 0;
}
.post-item .content {
	margin-left: 45px;
}
.post-item .content .detail{
    display: block;
    margin-bottom: 5px;
	text-decoration: none;
    color: #333;
}
.post-item .content .picture {
	
}
.post-item .content .picture img{
	display: inline-block;
    margin: 0 1% 5px 0;
}
.post-item .comment {
	
}
.post-item .bottom {
    margin-left: 45px;
    margin-right: 1%;
	background-color: #e2e2e2;;
}
/* 用户中心展示评论 */
.show {
    padding: 5px 0;
}
.show-list {
    padding: 0 8px;
}
.show-list-item {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
    color: #337ab7;
}
.show-list-item i{
  margin-right: 5px;
}
/* 评论 */
.operation {
    padding: 5px 0;
    border-top: 1px solid #c6b8b8;
}
.operation-list {
    padding: 0 8px;
}
.operation-list-item {
    list-style: none;
    display: inline-block;    
    margin-right: 5px;
    font-size: 18px;
    margin: 0 8px;
}
.op-right {
    float: right;
}
.say-input {
	display: inline-block;
    line-height: 20px;
    padding: 8px;
}
.say-input a{
	text-decoration: none;
    cursor: pointer;
}
/* 点赞列表 */
.like-list {
    border-bottom: 1px solid #c6b8b8;
}

.like-list .glyphicon {
	color: #337ab7;
    padding: 5px;
}
.like-list a{
	display: inline-block;
    text-decoration: none;
    margin: 5px 5px 5px 0;
}
/* 评论列表 */
.comment-list {
	padding: 0;
    margin: 0;
}
.comment-list-item {
    padding: 3px 5px;;
    list-style: none;
}
.comment-list-item a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.comment-list-item span {
    margin: 0 3px;
}
.comment-list-item .content {
	margin-left: 35px;
}

/* 分享详情 */
.post-view {
}
.post-view .author {
	margin-top: 10px;
    font-size: 18px;
}
.post-view .author img{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.post-view .author small{    
	display: block;
    margin: 5px 0;
}
.post-view .content {
	margin-left: 45px;
}
.post-view .content .detail{
    display: block;
    margin-bottom: 5px;
	text-decoration: none;
    color: #333;
}
.post-view .content .picture {
	
}
.post-view .content .picture img{
	display: inline-block;
    margin: 0 0.1% 5px 0;
}
.post-view .comment {
	
}
.post-view .bottom {
    margin-left: 45px;
	background-color: #e2e2e2;;
}

/* 底部导航栏 */
.b_nav {
    margin: 0;
    padding:0;
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: block;
}
.b_nav > li {
    display: block;
    width:40px;
}
.b_nav > li > a{
    display: block;
    padding: 10px;
    text-align: center;    
    font-size: 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
}
.b_nav > li:hover > a{
    background-color: #03A9F4;
}
/* 通用样式 */

.link-no-decaration,
.link-no-decaration:hover,
.link-no-decaration:visited {
    text-decoration: none;
}
.f-cb:after {
    content:"";
    display: block;
    clear: both;
}
.error {
    display: block;
    color: #fa0606;
}
.temp-hide {
    display:none;
}
.to-show {
    display: block;
}
#tip {
    color: #fa0606;
}
.mb20{
    margin-bottom: 20px;
}
.module-1 {
    margin: auto;
    max-width: 400px;
}
.post-form .kv-file-upload {
    display: none;
}