body{
    font-family: "Microsoft YaHei",'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* 顶部搜索框 */
.search-input {
	display: inline-block;
    width: 300px;
    float: left;
    line-height: 20px;
    padding: 8px;
}
.search-input a{
	text-decoration: none;
    cursor: pointer;
}
/* 页面底部 */
.footer {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}


/* 分享列表 */
.post-item {
	padding: 10px;
}
.post-item .author {
	margin-top: 10px;
    font-size: 18px;
}
.post-item .author img{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.post-item .author small{    
	display: block;
    margin: 5px 0;
}
.post-item .content {
	margin-left: 45px;
}
.post-item .content .detail{
    display: block;
    margin-bottom: 5px;
	text-decoration: none;
    color: #333;
}
.post-item .content .picture {
	
}
.post-item .content .picture img{
	display: inline-block;
    margin: 0 0.1% 5px 0;
}
.post-item .comment {
	
}
.post-item .bottom {
    margin-left: 45px;
	background-color: #dedada;
}
/* 点赞列表 */
.like-list {
	padding: 0 5px;
    border-bottom: 1px solid #c6b8b8;
}
.like-list-item {
    padding: 5px 0;
    list-style: none;
}
.like-list-item .glyphicon {
	color: #337ab7;
}
.like-list-item a{
	display: inline-block;
    text-decoration: none;
    margin-left: 5px;
}
/* 评论列表 */
.comment-list {
	padding: 3px 5px;
}
.comment-list-item {
    padding: 2px 0;
    list-style: none;
}
.comment-list-item .from,
.comment-list-item .to {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.comment-list-item span {
    margin: 0 3px;
}
.comment-list-item .content {
	margin-left: 35px;
}

.post-form .content {
	width: 100%;
}
/* 通用样式 */

.error {
    display: block;
    color: #fa0606;
}

#tip {
    color: #fa0606;
}


