# Files created by OS
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# logs
logs/
logs/*.log

# package manager stuffs
node_modules/
npm-debug.log*
yarn.lock

# user uploads
public/common/images/*

# editor settings
.brackets.json
.vscode/*
