<script async src='http://localhost:3000/browser-sync/browser-sync-client.js'><\/script>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    //document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js'><\/script>".replace("HOST", location.hostname));
//]]>
</script>
</body>
</html>