<footer class="footer">
	<% var usay = Upage.usay; %>
    <p>Copyright&nbsp;&copy;&nbsp;<%= usay.copyright %>&nbsp;<a href="<%= usay.link %>"><%= usay.label %></a></p>
    <p>All Rights Reserved</p>
</footer>
<div class="tip-layer"><p>text</p></div>
<script src="/common/lib/jquery-3.1.0/jquery-3.1.0.min.js"></script>
<script src="/common/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="/user/js/common.js"></script>