<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title><%= title %></title> 
    <link href="/common/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/user/css/common.css" rel="stylesheet">
</head>
    <nav class="navbar navbar-inverse" role="navigation">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
           data-target="#navbar-collapse">
           <span class="sr-only">切换导航</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= Upage.usay.label %><sup></sup></a>
     </div>
     <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <% var topics = Upage.header.topics; %>
          <% for(var i in topics){ var topic = topics[i]; %><!-- for1 -->
           <li <% if(index==topic.label){ %> class="active" <% } %>><a href="<%= topic.link %>"><%= topic.name %></a></li>
          <% } %><!-- end for1 -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% var right = Upage.header.right; %>
            <% if(!locals.user){ %>
              <li <% if(index==right.login.label){ %> class="active" <% } %>><a href="<%= right.login.link %>"><%= right.login.name %></a></li>
              <li <% if(index==right.reg.label){ %> class="active" <% } %>><a href="<%= right.reg.link %>"><%= right.reg.name %></a></li>
            <% }else{ %>
              <li <% if(index==right.profile.label){ %> class="active" <% } %>><a href="<%= right.profile.link %>"><%= user.name %></a></li>
              <li <% if(index==right.logout.label){ %> class="active" <% } %>><a href="<%= right.logout.link %>"><%= right.logout.name %></a></li>
            <% } %>
        </ul> 
     </div>
  </nav>