    <div class="module-1">
        <div class="page-header">
            <h1>登录
                <small></small>
            </h1>
        </div>
        <form class="form-horizontal" method="post" role="form" id="loginForm">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="username">账号</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" value="123" placeholder="手机号/qq">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="password">密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" value="123456" id="password" name="password">
                    </div>
                </div>
                <div class="form-group hidden return-tip">
                    <div class="col-sm-offset-3 col-sm-9">
                        <label id="tip"></label>
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-3 col-sm-9"> 
                        <button type="submit" id="submit" class="btn btn-primary">登录</button> 
                    </div> 
                </div>
            </fieldset>
        </form>
    </div>    