    <div class="page-header">
        <h1>分享
            <small>详情</small>
        </h1>
    </div>    
    <div class="col-sm-6 col-xs-12"> 
        <div class="post-view">
            <h1 class="author">
                <a href="/user/user_view"><img src="../../../common/images/picture/test2.jpg">
                分享者姓名
                </a>
                <small>2016年11月11日 15:30:00</small>
            </h1>
            <div class="content">
                <a class="detail" href="javascript:void(0)">文本。这是一个示例文本。</a>
                <div class="picture">
                    <img src="../../../common/images/picture/test2.jpg" width="32%">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">   
        <div class="post-view">
            <div class="bottom" data-postId="123">
                <div class="like-list">
                    <span class="like-start glyphicon glyphicon-heart-empty"></span><a href="#">姓名,</a><a href="#">姓名</a>
                </div>
                <ul class="comment-list">
                    <li class="comment-list-item">
                        <a href="/user/user_view?userId=" class="from">姓名</a><span>:</span><a href="javascript:void(0)" onclick="toDelete(this)">示例文本本这是一个示例文本本这是一个示例文本本这是一个示例文本。</a>
                    </li>
                    <li class="comment-list-item">
                        <a href="/user/user_view?userId=" class="from">姓名</a><span>回复</span><a href="/user/user_view?userId=" class="to">姓名</a><span>:</span>
                        <a href="javascript:void(0)" onclick="toReply(this, 'ta')">这是一个示例文本这是一个示例文本本这是一个示例文本本这是一个示例文本本这是一个示例文本。</a> 
                    </li>
                </ul>
                <div class="operation">
                    <div class="operation-list f-cb">
<a href="javascript:void(0)" class="toComment operation-list-item link-no-decaration glyphicon glyphicon-comment" role="button"></a>
    <a href="javascript:void(0)" class="toUpvote operation-list-item link-no-decaration op-right glyphicon glyphicon-heart" role="button"></a>
<a href="javascript:void(0)" class="toFavorite operation-list-item link-no-decaration op-right glyphicon glyphicon-thumbs-up" role="button"></a>
                    </div>
                    <div class="say-input temp-hide">
                      <div class="input-group">
                        <input type="text" class="toSay form-control" placeholder="输入评论内容...">
                        <a class="input-group-addon say" data-to=""><i class="glyphicon glyphicon-share-alt"></i></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>