<div id="container" class="container">
	<div class="row clearfix">
		<div class="post-view">
				<h1 class="author">
					<a href="#"><img src="../../../common/images/picture/test2.jpg"></a>
					分享者姓名<a href="#" class="collect link-no-decaration glyphicon glyphicon-star"></a>
                    <small>2016年11月11日 15:30:00</small>
				</h1>
				<div class="content">
					<a class="detail" href="#">这是一个示例文本。这是一个示例文本。这是一个示例文本。这是一个示例文本。这是一个示例文本。</a>
					<div class="picture">
						<img src="../../../common/images/picture/test2.jpg" width="32%">
					</div>
				</div>
				<div class="bottom">
					<ul class="like-list">
						<li class="like-list-item"><span class="glyphicon glyphicon-heart-empty"></span><a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a>,<a href="#">姓名</a></li>
					</ul>
					<ul class="comment-list">
						<li class="comment-list-item">
							<a href="#" class="from">姓名</a><span>:</span>示例文本本这是一个示例文本本这是一个示例文本本这是一个示例文本。
						</li>
						<li class="comment-list-item">
							<a href="#" class="from">姓名</a><span>回复</span><a href="#" class="to">姓名</a><span>:</span>这是一个示例文本这是一个示例文本本这是一个示例文本本这是一个示例文本本这是一个示例文本。
						</li>
						<li class="comment-list-item">
							<a href="#" class="from">姓名</a><span>回复</span><a href="#" class="to">姓名</a><span>:</span>这是一个示例文本。
						</li>
						<li class="comment-list-item">
							<a href="#" class="from">姓名</a><span>回复</span><a href="#" class="to">姓名</a><span>:</span>这是一个示例文本。
						</li>
						<li class="comment-list-item">
							<a href="#" class="from">姓名</a><span>回复</span><a href="#" class="to">姓名</a><span>:</span>这是一个示例文本。
						</li>
					</ul>
                    <div class="operation">
                        <div class="operation-list f-cb">
                            <a href="#" class="operation-list-item link-no-decaration glyphicon glyphicon-comment" role="button"></a>                        
                            <a href="#" class="operation-list-item link-no-decaration op-right glyphicon glyphicon-heart" role="button"></a>
                            <a href="#" class="operation-list-item link-no-decaration op-right glyphicon glyphicon-thumbs-up" role="button"></a>
                        </div>
                    </div>
				</div>
		</div>
	</div>
</div>