   
<div class="form-group post-form">
    <input id="file" type="file" multiple accept="image/*" class="file">
    <input type="hidden" name="img_arr" id="img_arr">
</div>
<script>
var img = [];
$("#file").fileinput({
    language: 'zh', //设置语言
    uploadUrl: '/ajax/uploadimg', // you must set a valid URL here else you will get an error
    allowedFileExtensions : ['jpg', 'png','gif'],
    overwriteInitial: false,
    maxFileCount: 6,
    maxFileSize: 1000,
    maxFilesNum: 10,     
    showRemove: false,
    showCancel: false,
    showUpload: false, //是否显示上传按钮
    showCaption: false,//是否显示标题
    msgFilesTooMany: "最多可添加{m}张图片！",
    dropZoneTitle: "图片预览区",
    slugCallback: function(filename) {
        return filename.replace('(', '_').replace(']', '_');
    },
}).on("fileuploaded", function(event, outData) {                   
    //文件上传成功后返回的数据， 此处我只保存返回文件的id 
    if(outData.response.done){
        img.push(outData.response.url);
    }else{
        
    }
    if(img.length == outData.files.length){
        $("#img_arr").val(img.join());
        setTimeout(function(){
            uploadAfterImg();
        }, 0);
    }
}); 

//初始化fileinput控件（第一次初始化）
/*$('#file').fileinput({
    language: 'zh', //设置语言
    uploadUrl: "#", //上传的地址
    allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
    maxFileCount: 100,
    enctype: 'multipart/form-data',
    showUpload: true, //是否显示上传按钮
    showCaption: false,//是否显示标题
    browseClass: "btn btn-primary", //按钮样式             
    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
});*/
</script>