   
<div class="form-group">
    <input id="file" type="file" multiple accept="image/*" class="file">
</div>
<script>
$("#file").fileinput({
    language: 'zh', //设置语言
    uploadUrl: '#', // you must set a valid URL here else you will get an error
    allowedFileExtensions : ['jpg', 'png','gif'],
    overwriteInitial: false,
    maxFileCount: 6,
    maxFileSize: 1000,
    maxFilesNum: 10,     
    showRemove: true,
    showCancel: false,
    showUpload: false, //是否显示上传按钮
    showCaption: false,//是否显示标题
    msgFilesTooMany: "最多可添加{m}张图片！",
    dropZoneTitle: "图片预览区",
    slugCallback: function(filename) {
        return filename.replace('(', '_').replace(']', '_');
    }
});

//初始化fileinput控件（第一次初始化）
/*$('#file').fileinput({
    language: 'zh', //设置语言
    uploadUrl: "#", //上传的地址
    allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
    maxFileCount: 100,
    enctype: 'multipart/form-data',
    showUpload: true, //是否显示上传按钮
    showCaption: false,//是否显示标题
    browseClass: "btn btn-primary", //按钮样式             
    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
});*/
</script>