		<ul class="list-group" id="user_list">
		    
<!--		    <li class="list-group-item post-item">
				<h1 class="author">
					<a href="#"><img src="../../../common/images/picture/test2.jpg"></a>
					分享者姓名<a href="#" class="collect link-no-decaration glyphicon glyphicon-star"></a>
                    <small>有志者，事竟成有志者，事竟成有志者，事竟成有志者，事竟成有志者，事竟成</small>
				</h1>
			</li>
		    <li class="list-group-item post-item">
				<h1 class="author">
					<a href="#"><img src="../../../common/images/picture/test2.jpg"></a>
					分享者姓名<a href="#" class="collect link-no-decaration glyphicon glyphicon-star"></a>
                    <small>有志者，事竟成</small>
				</h1>
			</li>
		    <li class="list-group-item post-item">
				<h1 class="author">
					<a href="#"><img src="../../../common/images/picture/test2.jpg"></a>
					分享者姓名<a href="#" class="collect link-no-decaration glyphicon glyphicon-star"></a>
                    <small>有志者，事竟成</small>
				</h1>
			</li>-->
		</ul>
