
        <div class="user-view">
            <img class="banner" src="../../../common/images/picture/test2.jpg" width="100%">
            <div class="profile">
                <img class="evator" src="../../../common/images/picture/test2.jpg">
                <h1 class="name">姓名</h1>
                <p class="sign">座右铭座右铭座右铭座右铭座右铭</p>
            </div>
        </div>