<div class="list-group">
    <div class="list-group-item active">
        <span class="list-group-item-heading">密码修改</span><button type="button" class="pwd-btn badge btn btn-info">修改</button>
    </div>
    <div class="list-group-item pwd">
        <input type="password" class="list-group-item" id="old_pwd" placeholder="旧密码" >
    </div>
    <div class="list-group-item pwd">
        <input type="password" class="list-group-item" id="new_pwd" placeholder="新密码" >
    </div>
    <div class="list-group-item pwd">
        <input type="password" class="list-group-item" id="confirm_pwd" placeholder="确认密码" >
    </div>
 </div>
<div class="list-group">
    <div href="#" class="list-group-item active">
        <div class="input-group">
            <input type="text" class="form-control search" placeholder="搜索当前用户分享...">
            <a href="javascript:void(0)" onclick="toSearch()" class="input-group-addon"><i class="glyphicon glyphicon-search"></i></a>
        </div>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item active">
        <span class="list-group-item-heading">收藏榜</span><span class="badge">您的位置：1000</span>
    </div>
    <a href="#" class="list-group-item">
        张三<span class="badge">100</span>
    </a>
    <a href="#" class="list-group-item">
        李四<span class="badge">88</span
    </a>
    <a href="#" class="list-group-item">
        王五<span class="badge">45</span>
    </a>
    <a href="#" class="list-group-item">
        赵六<span class="badge">45</span>
    </a>
    <a href="#" class="list-group-item">
        李四<span class="badge">88</span
    </a>
    <a href="#" class="list-group-item">
        王五<span class="badge">45</span>
    </a>
    <a href="#" class="list-group-item">
        赵六<span class="badge">45</span>
    </a>
                    <a href="#" class="list-group-item">
        李四<span class="badge">88</span
    </a>
    <a href="#" class="list-group-item">
        王五<span class="badge">45</span>
    </a>
    <a href="#" class="list-group-item">
        赵六<span class="badge">45</span>
    </a>
</div>