
        <div class="user-view">
            <img class="banner" src="../../../common/images/picture/test2.jpg" width="100%">
            <div class="profile">
                <img class="evator" src="<%= fetched.avatar %>">
                <h1 class="name"><%= fetched.nickname %></h1>
                <p class="sign"><%= fetched.bio %></p>
            </div>
        </div>