
        <div class="user-view">
            <img class="banner" src="../../../common/images/picture/test2.jpg" width="100%">
            <div class="profile">
                <img class="evator" src="<%= fetched.avatar %>">
                <h1 class="name hidden-xs"><%= fetched.nickname %></h1>
                <h1 class="name visible-xs"><a href="/user/profile" ><%= fetched.nickname %><i class="toEdit glyphicon glyphicon-edit"></i></a></h1>
                <p class="sign"><%= fetched.bio %></p>
            </div>
        </div>