<% include _head %>

 
<div id="container" class="container">
	<div class="row clearfix">
        <div class="col-sm-8 col-xs-12">
            <% include _user_list %>  
        </div>
        <div class="col-sm-4 hidden-xs">
            <% include _c_user_aside %> 
        </div>      
   </div>
</div>   
<% include _footer %>
<script src="/user/js/c_user.js"></script>
<% include _bottom %>