<% include _head %>

    <div id="container" class="container">
        <% include _login %>
    </div>
<% include _footer %>
<script src="/user/js/login.js"></script>
<script src="/common/lib/jquery-validation-1.14.0/jquery.validate.min.js"></script>
<% include _bottom %>