<% include _head %>
<div id="container" class="container">
	<div class="row clearfix">
        <% include _post_view %> 
    </div>
</div>    
<% include _footer %>
<script src="/user/js/post_view.js"></script>
<% include _bottom %>