<% include _head %>

<div id="container" class="container">
	<div class="row clearfix">
        <% include _user_view %>
    </div>
     <div class="row clearfix">
        <div class="col-sm-8 col-xs-12">
            <% include _post_list_u %> 
        </div>
        <div class="col-sm-4 hidden-xs">
            <% include _user_view_aside %> 
        </div>      
   </div>
</div>   
<% include _footer %>
<script src="/user/js/user_view.js"></script>
<% include _bottom %>